@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    container: blocks / inline-size;
}

main
{
    background-color: #070F2B;
    color: #FAEDF0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

article
{
    background-color: #0F3460;
    border-radius: 20px;
    font-size: 25px;
    width: 70%;
    height: 150px;
    margin: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@container blocks (max-width: 700px)
{
    main
    {
        flex-direction: column;
    }
    
    article
    {
        background-color: #836FFF;
        font-size: clamp(15px, 18px + 1.33cqw, 30px);
    }
}